# Ignore everything

.git
venv
LICENSE
Procfile
Makefile
README.md
coverage.xml
.coverage
.codecov.yml
.circleci
Dockerfile
docker-compose.yml
docker-compose.yml.example
tests
requirements-test.txt
pylintplugins.py
pytest.ini
linter.py
