version: "3.7"

services:
  web:
    image: nguyenkhacthanh/flask-webservice:latest
    environment:
      - DB_HOST=mysql
      - DB_USER=root
      - DB_PASS=password
      - DB_NAME=app
      - DB_DRIVE=mysql+pymysql
      - CELERY_BROKER_URL=amqp://root:password@rabbitmq:5672/celery
      - SLACK_BOT_TOKEN=<slack-bot-token>
      - SLACK_LOG_CHANNEL_ID=<slac-channel-id>
    ports:
      - 8000:80
    restart: always
    command: ./run.sh alembic upgrade head && gunicorn -c gunicorn.config.py wsgi:application
    depends_on:
      - mysql
      - rabbitmq
    networks:
      - mynet
  worker:
    image: nguyenkhacthanh/flask-webservice:latest
    environment:
      - DB_HOST=mysql
      - DB_USER=root
      - DB_PASS=password
      - DB_NAME=app
      - DB_DRIVE=mysql+pymysql
      - CELERY_BROKER_URL=amqp://root:password@rabbitmq:5672/celery
      - CELERY_RESULT_PERSISTENT=1
    depends_on:
      - rabbitmq
      - mysql
    command: ./run.sh celery -A app.jobs.manager worker -l info
    restart: always
    networks:
      - mynet
  flower:
    image: nguyenkhacthanh/flask-webservice:latest
    environment:
      - CELERY_BROKER_URL=amqp://root:password@rabbitmq:5672/celery
      - BROKER_API=http://root:password@rabbitmq:15672/api/
    ports:
      - 5555:5555
    command: ./run.sh celery -A app.jobs.manager flower --address=0.0.0.0 --port=5555 --broker_api=$${BROKER_API}
    depends_on:
      - rabbitmq
    restart: always
    networks:
      - mynet
  mysql:
    image: mysql:5.5.61
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_DATABASE=app
    expose:
      - 3306
    ports:
      - 3306:3306
    networks:
      - mynet
  rabbitmq:
    image: rabbitmq:management-alpine
    environment:
      - RABBITMQ_DEFAULT_USER=root
      - RABBITMQ_DEFAULT_PASS=password
      - RABBITMQ_DEFAULT_VHOST=celery
    expose:
      - 5672
      - 15672
    ports:
      - 15672:15672
    networks:
      - mynet
networks:
  mynet:
